<%= form_for(flight) do |f| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :departure %>
    <%= f.text_field :departure %>
  </div>

  <div class="field">
    <%= f.label :arrival %>
    <%= f.text_field :arrival %>
  </div>

  <div class="field">
    <%= f.label :departure_time %>
    <%= f.datetime_select :departure_time %>
  </div>

  <div class="field">
    <%= f.label :arrival_time %>
    <%= f.datetime_select :arrival_time %>
  </div>

    <div class="field">
      <%= f.label :austauschschuler_ids, 'Choose austauschschulers' %>
      <%= f.collection_select :austauschschuler_ids, Austauschschuler.all, :id, :departure, {}, {multiple: true} %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
