<h1>New Austauschschuler</h1>

<%= render 'form', austauschschuler: @austauschschuler %>

<%= link_to 'Back', austauschschulers_path %>

<!--&lt;!&ndash;-->
<!--<h1>Select Flights</h1>-->

<!--<%= form_for :austauschschuler do |f| %>-->
    <!--<fieldset>-->


      <!--<%= f.label :flight_ids, 'Choose flights' %>-->
      <!--<%= f.collection_select :flight_ids, Flight.all, :id, :departure %>-->
      <!--<%= f.submit %>-->
    <!--</fieldset>-->
<!--<% end %>-->
-->

<!--@austauschschuler.flights << Flight.find flight_id-->